

body {
    background-color : #eeeeee;
  }


ul {
    color : black;
    font-family :
Verdana,"LucidaSans",Arial,Geneva,Helvetica,Helv,"MyriadWeb",Syntax,sans-serif;
    font-size : 90%;
    list-style-type : circle;
  }


ol {
    color : black;
    font-family :
Verdana,"LucidaSans",Arial,Geneva,Helvetica,Helv,"MyriadWeb",Syntax,sans-serif;
    font-size : 90%;
    list-style-type : square;
  }


h1, h2, h3, h4, h5, h6 {
    font-family:
"TrebuchetMS",Verdana,"LucidaSans",Arial,Geneva,Helvetica,Helv,"MyriadWeb",
Syntax,sans-serif;
  }


h1 {
    color: #000000;
    font-weight: bold;
    text-align: center;
  }


h2 {
    color: #000000;
    font-size: 130%;
    font-weight: normal;
    padding-bottom: 0px;
  }


h3 {
    color: #000000;
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 0px;
  }


.index_header {
    font-size : 130%;
    font-weight: bold;
  }


.right {
    text-align: right;
  }


.left {
    text-align: left;
  }


.center {
    text-align: center;
  }


.nav {
    color : #000000;
    font-family :
Verdana,"LucidaSans",Arial,Geneva,Helvetica,Helv,"MyriadWeb",Syntax,sans-serif;
    font-size : 100%;
    text-align : center;
    text-decoration : none;
  }


.title {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 80%;
    font-family:
Verdana,"LucidaSans",Arial,Geneva,Helvetica,Helv,"MyriadWeb",Syntax,sans-serif;
  }


.small {
    color: #000000;
    font-size: 60%;
    font-family:
Verdana,"LucidaSans",Arial,Geneva,Helvetica,Helv,"MyriadWeb",Syntax,sans-serif;
  }


.footer {
    color: #555555;
    font-size: 60%;
    font-family:
Verdana,"LucidaSans",Arial,Geneva,Helvetica,Helv,"MyriadWeb",Syntax,sans-serif;
    text-align: center;
  }


a {
    color: black;
    text-decoration: none;
  }


a:link {
    text-decoration: none;
  }


a:visited {
    text-decoration: none;
  }


a:active {
    text-decoration: none;
  }


a:hover {
    color: #ff0033;
    text-decoration: underline;
  }


.bbox1 {
    padding-right : 20px;
    border-right-color : #000000;
    border-right-style : solid;
    border-right-width : 1px;
  }


.bbox2 {
    padding-left : 20px;
    border-left-color : #000000;
    border-left-style : solid;
    border-left-width : 1px;
  }


.bbox_border {
    border-bottom-color : #000000;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #000000;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #000000;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #000000;
    border-top-style : solid;
    border-top-width : 1px;
  }


.bbox_head {
    font-size : 110%;
    font-weight : bold;
    text-align : center;
  }


input {
    border-bottom-color : #000000;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #000000;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #000000;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #000000;
    border-top-style : solid;
    border-top-width : 1px;
    font-size : 60%;
  }


.errorbox {
    background-color : #ffb6c1;
    border-bottom-color : #ff0000;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #ff0000;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #ff0000;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #ff0000;
    border-top-style : solid;
    border-top-width : 1px;
  }


.okbox {
    background-color : #c0ffc0;
    border-bottom-color : #00ff00;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #00ff00;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #00ff00;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #00ff00;
    border-top-style : solid;
    border-top-width : 1px;
  }

